.list {
    font-size: 22pt;
    color: rgb(37, 30, 8);
    font-weight: bold;
    margin: 10pt 100pt 30pt 10pt; 
}
.list a {
    position: relative;
    display: block;
    padding: 3pt 3pt 3pt 12pt;
    margin: 5pt 500pt 5pt 1pt;
    background: #e9d48e;
    color: rgb(37, 30, 8);
    font-size: 20pt;
    font-weight: normal;
    text-decoration: none;
    border-radius: .3em;
    box-shadow: 0.2em 0.2em 3px rgba(97, 77, 23, 0.5);
    transition: all .3s ease-out;
    }
table {
    width: 1800pt;
    table-layout: fixed;
    border: 2px solid rgb(74, 128, 160);
    border-collapse: collapse;
    background-color: rgb(245, 243, 235);
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    }
    th {
    border: 3px solid rgb(74, 128, 160);
    font-size: 20pt;
    background-color: rgb(245, 243, 235); 
    }
    td {
    font-size: 15pt;
    border: 3px solid rgb(74, 128, 160);
   }
   .number {
    font-size: 15pt;
    text-align: right;
    margin-top: 3mm; 
    margin-bottom: -7mm;
    margin-left: 0mm;
    margin-right: 3mm;
   }
   .element {
    font-size: 18pt;
    line-height: 28pt;
    text-align: left;
    margin-top: 0mm;
    margin-bottom: 1mm;
    margin-left: 3mm;
    margin-right: 0mm;
   }
   caption {
    font-size: 40pt;
   }
   span {
    font-size: 25pt;
    font-weight: bold;
   }
   .blue {
    background-color: rgb(94, 149, 180);
   }
   .yellow {
    background-color: rgb(218, 233, 80);
   }
   .pink {
    background-color: rgb(235, 107, 171);
   }
   .green {
    background-color: rgb(42, 124, 55);
   }